/* 
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
} */

/* .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      } */

/* @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      } */

      * {
        margin: 0;
      }
      
      .myLogo {
        width: 25%;
        margin-left: 12%;
      }
      
      header {
        padding-top: 50px;
      }
      
      a.navbar {
        text-decoration: none;
        color: #5d5c5d;
        font-size: 16px;
        font-family: "Raleway", sans-serif;
        font-weight: 300;
        letter-spacing: 10px;
      }
      
      a.navbar:hover {
        color: #ee028d !important;
        text-decoration: none;
      }
      
      .main {
        margin-left: 100px;
      }
      
      #github {
        text-decoration: none;
        height: 70px;
        opacity: 20%;
        padding: 0px 0px 30px 0px;
      }
      
      #github:hover {
        opacity: 60%;
      }
      
      #linkedin {
        text-decoration: none;
        height: 100px;
        opacity: 20%;
        padding: 30px 0px;
      }
      
      #linkedin:hover {
        opacity: 60%;
      }
      
      #photo {
        text-decoration: none;
        height: 130px;
        opacity: 20%;
        padding: 30px 0px 60px 0px;
      }
      
      #photo:hover {
        opacity: 60%;
      }
      
      #envelope {
        text-decoration: none;
        height: 100px;
        opacity: 20%;
        padding: 30px 0px;
      }
      
      #envelope:hover {
        opacity: 60%;
      }

      #right-arrow {
        text-decoration: none;
        height: 40px;
        opacity: 20%;
        padding: 0px;
      }
      
      #right-arrow:hover {
        opacity: 60%;
      }

      #left-arrow {
        text-decoration: none;
        height: 40px;
        opacity: 20%;
        padding: 0px;
      }
      
      #left-arrow:hover {
        opacity: 60%;
      }

      #grid {
        text-decoration: none;
        height: 30px;
        opacity: 20%;
        padding: 0px;
      }
      
      #grid:hover {
        opacity: 60%;
      }
      
      #up-arrow {
        text-decoration: none;
        height: 100px;
        opacity: 20%;
        padding: 30px 0px;
      }
      
      #up-arrow:hover {
        opacity: 60%;
      }
      
      .sidenav {
        height: 100%;
        width: 80px;
        position: fixed;
        z-index: 1;
        overflow-x: hidden;
        padding-top: 0;
      }
      
      .sidenav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
      }
      
      #copyright {
        text-decoration: none;
        color: #8b8b8b;
        font-size: 12px;
        margin-left: 45%;
      }
      
      /* ----------------------------------------------------------- */


      .jumbotron {
          /* border: 1px black solid; */
          border-radius: 20px;
          margin-left: 150px;
          width: 80%;
          height: 500px;
          /* background-image:url("../images/portfolio/ExteriorBackHorizontal-WebSize.jpg"); */
          /* background-size: cover; */
      }

      .body-info {
        border: 1px black solid;
        border-radius: 20px;
        margin-left: 150px;
        width: 80%;
        height: 1000px;
      }

      .visit-button {
        color: #ffffff;
        background-color: #EE028D;
        height: 50px;
        width: 200px;
        border: none !important;
        font-family: "Raleway", sans-serif;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }

     